#################
## Eclipse
#################

.project
.metadata
tmp/
logs/
*.tmp
*.bak
*.swp
*.zip
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
*/javadoc/*
*/libs/*
*/data/*
*.war
*/logs/*


